@charset "UTF-8";



.button {
	
 display: inline-block;
  border-radius: 4px;
  background-color: #4d4d4d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 5px 10px;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 90px;
  overflow: hidden;
      box-shadow: 0 5px 10px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  margin-top: 25px;
  text-shadow: 0 2px 12px #5CCA87;
  
   
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}